.footer {
    padding: 28px;
    color: var(--muted);
    text-align: center;
    border-top: 1px solid #232428;
    background: #4e3300c7
}

.footer .socials {
    margin-top: 8px;
    display: flex;
    gap: 12px;
    justify-content: center
}

.footer a {
    color: #e5e7eb
}